<html lang="en" data-theme="luxury">
  <head>
    <title>
      {% block title %}Louisoix Limsan Lominsans{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Louisoix Limsan Lominsans" />
    <link rel="manifest" href="/site.webmanifest" />
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="fe9a82de-e288-42f8-b3fd-938dc867e6cf"></script>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
     <link rel="stylesheet" href="{{ '/assets/styles/tailwind.css' | url }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% include "footer.njk" %}

    <script src="//unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>  
  </body>
</html>